body {
    padding-top: 41px;
    font-family: 'Open Sans', sans-serif;
}

#welcome {
    height: 500px;
}

/* TODO: RESPONSIVENESS */
.wrapper {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
}

/* Navbar */

nav {
    position: fixed;
    background: #383435;
    width: 100%;
    height: 60px;
    overflow: hidden;
    top: 0;
    z-index: 999999;
}

nav ul {
    width: 80%;
    margin: auto;
    padding: 0;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
    text-decoration: none;
}

nav ul li {
    display: inline-block;
    padding: 0px 10px;
    font-size: 18px;
    font-weight: normal;
    height: 100%;
}

nav ul li:hover {
    background: #88422C;
}

nav ul li img {
    height: 50px;
    display: inline-block;
    margin-top: 5px;
    margin-right: 15px;
}
