.slide {
    width: 100%;
    position: relative;
}

.slide > div {
    width: 80%;
    margin: auto;
}

.slide#title {
    height: calc(100vh - 51px);
    margin-top: 10px;
    position: relative;
    overflow: hidden;
}

.slide#title h1, .slide#title h4 {
    text-align: center;
    font-weight: lighter;
}

.slide#title h1 {
    font-size: 800%;
    padding-top: 5%;
}

.slide#title h4 {
    font-size: 192%;
}

#titleCanvas {
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: 0;
    left: 0;
}

#squadbot {
    height: 30vw;
    width: 30vw;
    position: relative;
    margin-top: 40px;
}

#squadbot > img:first-child {
    height: 100%;
    width: 100%;
}

#botPupilLeft, #botPupilRight {
    width: 12%;
    height: 12%;
    position: absolute;
    top: 23%;
}

#botPupilLeft {
    left: 33.48%;
}

#botPupilRight {
    left: 54.5%;
}

#botLeftArm, #botRightArm {
    width: 87.2%;
    height: 35.4%;
    top: 43%;
    position: absolute;
    background-size: cover;
    transform: rotate(0deg);
    transition: transform 2s;
}

#botLeftArm img:last-child, #botRightArm img:last-child {
    width: 100%;
    height: 100%;
    position: absolute;
}

#botLeftArm {
    left: calc(0% - 11.8%);
}

#botRightArm {
    left: 24%;
}

#botLeftHand, #botRightHand {
    width: 43.57798%;
    height: 43.50282%;
    background-size: cover;
    position: absolute;
    transform: rotate(0deg);
    transition: transform 2s;
}

#botLeftHand {
    top: 28.5%;
    left: 1.03211%;
}

#botRightHand {
    top: 28.5%;
    left: 55.8%;
}

#messageBackground {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #E3DBD8;
    z-index: -1;
    overflow: hidden;
    padding-bottom: 10px;
}

#messageBackground > div {
    width: 100%;
    position: relative;
    height: 0px;
    padding: 10px;
    overflow: hidden;
    transition: height .3s;
}

#messageBackground > div > div {
    position: absolute;
    left: -100%;
    padding: 10px 14px;
    border-radius: 0px 7px 7px 7px;
    background: #FFF;
    font-size: 20px;
    transition: left .5s ease-out, right .5s ease-out;
}

#messageBackground > div.self > div {
    right: -100%;
    left: auto;
    border-radius: 7px 0px 7px 7px;
    background: #E1FFC7;
}

#messageBackground > div > div::before {
    position: absolute;
    left: -15px;
    top: 0px;
    height: 22px;
    width: 15px;
    background: url("../images/messages/whatsapp.png");
    content: "";
}

#messageBackground > div.self > div::before {
    background: none;
}

#messageBackground > div.self > div::after {
    position: absolute;
    right: -15px;
    top: 0px;
    height: 22px;
    width: 15px;
    background: url("../images/messages/whatsapp_self.png");
    content: "";
}

#messageBackground > div > div > div:first-child {
    font-weight: bold;
    color: #59C747;
    padding-bottom: 5px;
}

#messageBackground > div.self > div > div:first-child {
    display: none;
}


.slide#features > div {
    height: 400px;
    width: 80%;
    margin: auto;
}

.slide#features > div h6 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 20px;
    font-weight: lighter;
}

.slide#features > div p {
    font-size: 20px;
    font-weight: lighter;
}

.slide#features > div strong {
    font-weight: normal;
}

.slide#features > div > div:first-child {
    width: 400px;
    padding-top: 50px;
    height: 100%;
    float: left;
}

.slide#features > div:nth-child(even) > div:first-child {
    float: right;
}

.slide#features > div > div:last-child {
    width: calc(100% - 400px);
    padding: 40px;
    height: 100%;
    float: right;
}


.slide#features > div:nth-child(even) > div:last-child {
    float: left;
}

#innerGears {
    position: relative;
    width: 365px;
    height: 300px;
    margin: auto;
}

#innerGears img {
    position: absolute;
}

#innerGears img:first-child, #innerGears img:last-child {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

#innerGears img:nth-child(2) {
    top: 50%;
    left: 28%;
    height: 48.016%;
    width: 39.451%;
    
    animation: gearRotate 20s infinite linear;
}

#innerGears img:nth-child(3) {
    top: 42%;
    left: 64%;
    height: 33%;
    width: 27.1136%;
    
    animation: gearRotate 10s infinite linear reverse;
}

#innerGears img:nth-child(4) {
    top: 74%;
    left: 70%;
    height: 25%;
    width: 20.5406%;
    
    animation: gearRotate 7s infinite linear;
}

@keyframes gearRotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#spm {
    position: relative;
    height: 100%;
}

#spm > div:first-child {
    position: absolute;
    top: 7%;
    left: 0px;
    background-image: url("../images/features/spm_books.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 300px;
    width: 259px;
    animation: bookShow 20s infinite;
}

@keyframes bookShow {
    0% { /* Start with books hidden */
        transform: scale(0);
        opacity: 0;
        left: 50%;
        background-position: 0 0;
    }
    5% { /* Show whatsapp book */
        transform: scale(1);
        opacity: 1;
        left: 0%;
        background-position: 0 0;
    }
    27% { /* Keep whatsapp book visible */
        transform: scale(1);
        opacity: 1;
        left: 0%;
        background-position: 0 0;
    }
    32% { /* Fade out whatsapp book */
        transform: scale(1);
        opacity: 0;
        left: 0%;
        background-position: 0 0;
    }
    34% { /* Switch to IRC book */
        transform: scale(0);
        opacity: 0;
        left: 50%;
        background-position: 0 -300px;
    }
    39% { /* Show IRC book */
        transform: scale(1);
        opacity: 1;
        left: 0;
        background-position: 0 -300px;
    }
    61% { /* Keep IRC book visible */
        transform: scale(1);
        opacity: 1;
        left: 0;
        background-position: 0 -300px;
    }
    66% { /* Fade out IRC book */
        transform: scale(1);
        opacity: 0;
        left: 0;
        background-position: 0 -300px;
    }
    68% { /* Switch to kik book */
        transform: scale(0);
        opacity: 0;
        left: 50%;
        background-position: 0 -600px;
    }
    73% { /* Show kik book */
        transform: scale(1);
        opacity: 1;
        left: 0;
        background-position: 0 -600px;
    }
    95% { /* Keep kik book visible */
        transform: scale(1);
        opacity: 1;
        left: 0;
        background-position: 0 -600px;
    }
    100% { /* Fade out kik book  */
        transform: scale(1);
        opacity: 0;
        left: 0;
        background-position: 0 -600px;
    }
}

#spm > div:last-child {
    position: absolute;
    background-image: url("../images/features/spm_server.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 60%;
    width: 29.9%;
    right: 0;
    padding-top: 5%;
    top: 20%;
}

#spm > div:last-child > div {
    width: 100%;
    height: 10px;
    background-image: url("../images/features/spm_disk.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0;
    margin-bottom: 7%;
    animation: blinkingLights .5s infinite step-end;
}

#spm > div:last-child > div:nth-child(1) {
    animation-delay: .3s;
}

#spm > div:last-child > div:nth-child(2) {
    animation-duration: .3s;
}

#spm > div:last-child > div:nth-child(3) {
    animation-delay: .2s;
}

#spm > div:last-child > div:nth-child(4) {
    animation-delay: .5s;
    animation-duration: .7s;
}

#spm > div:last-child > div:nth-child(5) {
    animation-delay: .1s;
}

#spm > div:last-child > div:nth-child(6) {
    animation-delay: .4s;
    animation-duration: .7s;
}

@keyframes blinkingLights {
    0% {background-position: 0 0; }
    70% {background-position: 0 -12px; }
    100% {background-position: 0 0; }
}


.codeScreen {
    color: #ecf0f1;
}

.codeScreen > div {
    background: #2c3e50;
    padding: 10px;
    padding: 3px 9px;
    font-family: monospace;
    white-space: pre;
}

.codeScreen > div::first-letter {
    color: #5D707A;
    margin-right: 4px;
}

.codeScreen > div:nth-child(odd) {
    background: #34495e;
}

.codeScreen > div:first-child {
    background: #1C1F20;
    white-space: normal;
    font-family: inherit;
    color: #90909E;
    border-radius: 10px 10px 0px 0px;
}

.codeScreen > div:first-child::first-letter {
    color: inherit;
    margin-right: 0px;
}


.codeScreen > div:last-child {
    border-radius: 0px 0px 10px 10px;
}

.slide#reallyDeepQuestions {
    background: #ECECEC;
    font-size: 30px;
    padding: 30px 0px;
    text-align: center;
    font-weight: lighter;
    color: #888888;
}

.slide#actions > div > div {
    
}

.slide#actions > div > div > div:first-child {
    height: 120px;
    width: 120px;
    position: relative;
}

.slide#actions > div > div > div:first-child > img  {
    top: 0;
    left: 0;
    position: absolute;
}

#download > div > img:first-child {
    transition: top .5s;
}

#download:hover > div > img:first-child {
    top: 14px !important;
}

#documentation > div > img:last-child {
    height: 120px;
    width: 120px;
    transition: height .5s, width .5s, top .5s, left .5s;
}

#documentation:hover > div > img:last-child {
    height: 100px !important;
    width: 100px !important;
    top: 10px !important;
    left: 10px !important;
}

#source > div > div {
    background: url("../images/actions/code.png");
    height: 56px;
    width: 56px;
    border-radius: 56px;
    position: absolute;
    filter: blur(1px);
    top: 23px !important;
    left: 15px !important;
    background-position: -16px 28px;
    transition: background .5s, left .5s;
}

#source:hover > div > div {
    left: 30px !important;
    background-position: -60px 28px;
}


#source > div > img:last-child {
    left: 4px !important;
    transition: left .5s;
}

#source:hover > div > img:last-child {
    left: 20px !important;
}
